.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-group label {
    font-size: 14px;
    color: #333;
    margin-bottom: 6px;
    display: block;
}

.input-group input {
    width: 90%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s;
    font-size: 14px;
}

.input-group input:focus {
    border-color: #007bff;
}
